header{
    color: rgb(192, 231, 218);
    font-family: sans-serif;
    text-align: center;
}

html{
    color: aliceblue;
    background: linear-gradient(100deg, #15001d 40%, #130016 50%, #0d0220 60%);
}

. left{

}

. right{

}